{% extends "base.html" %}

{% block content %}
<h2>Аварийный доступ</h2>
    <form action="" method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        {% for field in form if field.name != 'csrf_token' %}
        <div class="row  justify-content-md-center">
            <div class="col col-lg-2"><div class="p-1"> {{field.label() }}</div></div>
            <div class="col col-lg-1"><div class="p-1">{{ field() }}</div></div>
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock %}